Repository PeterFile/KnowledgeLens: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,json,css}": ["prettier --write"]
}

docs(repo): add isc license file
  LICENSE
Due: none

docs(repo): add english readme with project overview
  README.md
Due: none

docs(repo): add chinese readme with bilingual support
  README.zh-CN.md
Due: none

docs(repo): add architecture and react-loop diagrams
  assets/architecture.svg
  assets/react-loop.svg
Due: none

docs(repo): add project documentation and license (#24)
  LICENSE
  README.md
  README.zh-CN.md
  assets/architecture.svg
  assets/react-loop.svg
Due: none

fix(repo): resolve connection error and missing display results
  src/background/index.ts
  src/content/index.tsx
  src/lib/request-manager.ts
  src/popup/components/SummaryView.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write

chore(repo): ignore .agent directory
  .gitignore
Due: none

fix(repo): resolve connection error and missing display results (#25)
  .gitignore
  src/background/index.ts
  src/content/index.tsx
  src/lib/request-manager.ts
  src/popup/components/SummaryView.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: implement true streaming output for summary
  src/background/index.ts
  src/lib/agent/goal-handlers.ts
  src/lib/agent/loop.ts
  src/lib/agent/types.ts
Due: eslint --fix, prettier --write

feat: implement true streaming output for summary (#26)
  src/background/index.ts
  src/lib/agent/goal-handlers.ts
  src/lib/agent/loop.ts
  src/lib/agent/types.ts
Due: eslint --fix, prettier --write

feat(content): support multiple floating panels on page
  src/content/index.tsx
Due: eslint --fix, prettier --write

feat(content): support multiple floating panels on page (#27)
  src/content/index.tsx
Due: eslint --fix, prettier --write

chore(repo): add kiro configuration, specs, and gemini instructions
  .gitignore
  .kiro/specs/agent-architecture-upgrade/design.md
  .kiro/specs/agent-architecture-upgrade/requirements.md
  .kiro/specs/agent-architecture-upgrade/tasks.md
  .kiro/specs/knowledge-lens/AgentBestPracticesResearch.md
  .kiro/specs/knowledge-lens/AgentsBestPracticeGuide.md
  .kiro/specs/knowledge-lens/design.md
  .kiro/specs/knowledge-lens/requirements.md
  .kiro/specs/knowledge-lens/tasks.md
  .kiro/steering/product.md
  .kiro/steering/react-coder.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .kiro/steering/ts-coder.md
  .kiro/steering/workflow.md
  GEMINI.md
Due: none

chore(repo): add kiro configuration, specs, and gemini instructions (#28)
  .gitignore
  .kiro/specs/agent-architecture-upgrade/design.md
  .kiro/specs/agent-architecture-upgrade/requirements.md
  .kiro/specs/agent-architecture-upgrade/tasks.md
  .kiro/specs/knowledge-lens/AgentBestPracticesResearch.md
  .kiro/specs/knowledge-lens/AgentsBestPracticeGuide.md
  .kiro/specs/knowledge-lens/design.md
  .kiro/specs/knowledge-lens/requirements.md
  .kiro/specs/knowledge-lens/tasks.md
  .kiro/steering/product.md
  .kiro/steering/react-coder.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .kiro/steering/ts-coder.md
  .kiro/steering/workflow.md
  GEMINI.md
Due: none

feat: support latest gemini 3 flash model
  src/lib/api.ts
  src/popup/components/SettingsView.tsx
Due: eslint --fix, prettier --write

feat: support deepseek series of models
  src/lib/api.ts
  src/popup/components/SettingsView.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write

feat(summary): move page summary to floating panel on page
  pnpm-lock.yaml
  src/background/index.ts
  src/content/FloatingPanel.tsx
  src/content/index.tsx
  src/popup/components/SummaryView.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: support glm (zhipu ai) series of models
  src/lib/api.ts
  src/popup/components/SettingsView.tsx
Due: eslint --fix, prettier --write

feat: support ollama local models and configurable base url
  src/lib/api.ts
  src/popup/components/SettingsView.tsx
Due: eslint --fix, prettier --write

feat: allow custom model input for ollama
  src/popup/components/SettingsView.tsx
Due: eslint --fix, prettier --write

feat: add latest glm-4.6 and glm-4.5 models
  src/lib/api.ts
  src/popup/components/SettingsView.tsx
Due: eslint --fix, prettier --write

feat: improve base url ui handling and visibility toggle
  src/popup/components/SettingsView.tsx
Due: eslint --fix, prettier --write

fix: restore settings layout spacing and padding
  src/popup/components/SettingsView.tsx
Due: eslint --fix, prettier --write

feat(summary): implement progressive hierarchical summary and fix panel display
  src/background/index.ts
  src/components/AgentStatusDisplay.tsx
  src/content/FloatingPanel.tsx
  src/lib/agent/goal-handlers.ts
  src/lib/agent/prompts.ts
  src/lib/agent/types.ts
  src/lib/extractor.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat(content): implement level 3 deep dive functionality
  src/background/index.ts
  src/content/FloatingPanel.tsx
  src/lib/agent/goal-handlers.ts
  src/lib/agent/prompts.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

refactor(lib): modularize api and settings
  pnpm-lock.yaml
  src/lib/api.ts
  src/lib/llm/constants.ts
  src/lib/llm/index.ts
  src/lib/llm/providers/anthropic.ts
  src/lib/llm/providers/deepseek.ts
  src/lib/llm/providers/gemini.ts
  src/lib/llm/providers/glm.ts
  src/lib/llm/providers/ollama.ts
  src/lib/llm/providers/openai.ts
  src/lib/llm/utils.ts
  src/lib/search/index.ts
  src/popup/App.tsx
  src/popup/components/SettingsView.tsx
  src/popup/components/settings/AgentConfig.tsx
  src/popup/components/settings/ModelConfig.tsx
  src/popup/components/settings/SearchConfig.tsx
  src/popup/components/settings/Section.tsx
  src/popup/components/settings/constants.ts
Due: eslint --fix, prettier --write

feat(summary): move page summary to floating panel on page (#29)
  pnpm-lock.yaml
  src/background/index.ts
  src/components/AgentStatusDisplay.tsx
  src/content/FloatingPanel.tsx
  src/content/index.tsx
  src/lib/agent/goal-handlers.ts
  src/lib/agent/prompts.ts
  src/lib/agent/types.ts
  src/lib/extractor.ts
  src/popup/components/SummaryView.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write

fix(lib): restore extractkeywords function for tests
  src/lib/api.ts
  src/lib/search/index.ts
Due: eslint --fix, prettier --write

feat: Expand LLM Support (Gemini, DeepSeek, GLM, Ollama) (#30)
  src/lib/api.ts
  src/lib/llm/constants.ts
  src/lib/llm/index.ts
  src/lib/llm/providers/anthropic.ts
  src/lib/llm/providers/deepseek.ts
  src/lib/llm/providers/gemini.ts
  src/lib/llm/providers/glm.ts
  src/lib/llm/providers/ollama.ts
  src/lib/llm/providers/openai.ts
  src/lib/llm/utils.ts
  src/lib/search/index.ts
  src/popup/App.tsx
  src/popup/components/SettingsView.tsx
  src/popup/components/settings/AgentConfig.tsx
  src/popup/components/settings/ModelConfig.tsx
  src/popup/components/settings/SearchConfig.tsx
  src/popup/components/settings/Section.tsx
  src/popup/components/settings/constants.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat(content): enhance summary panel features and usability
  src/content/FloatingPanel.tsx
Due: eslint --fix, prettier --write

feat(content): enhance summary panel copy functionality
  src/content/FloatingPanel.tsx
Due: eslint --fix, prettier --write

feat(content): enhance summary panel features and usability (#31)
  src/content/FloatingPanel.tsx
Due: eslint --fix, prettier --write

feat(i18n): implement core infrastructure and translation dictionaries
  src/lib/i18n/en.ts
  src/lib/i18n/index.ts
  src/lib/i18n/ja.ts
  src/lib/i18n/zh.ts
Due: eslint --fix, prettier --write

feat(agent): implement language propagation and refine output prompts
  src/background/index.ts
  src/content/FloatingPanel.tsx
  src/content/index.tsx
  src/lib/agent/goal-handlers.ts
  src/lib/agent/loop.ts
  src/lib/agent/prompts.ts
  src/lib/agent/types.ts
  src/popup/components/SettingsView.tsx
  src/popup/components/SummaryView.tsx
  src/popup/components/settings/AgentConfig.tsx
  src/popup/components/settings/GeneralConfig.tsx
  src/popup/components/settings/ModelConfig.tsx
  src/popup/components/settings/SearchConfig.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive internationalization (EN, ZH, JA) and agent prompt refinements (#32)
  src/background/index.ts
  src/content/FloatingPanel.tsx
  src/content/index.tsx
  src/lib/agent/goal-handlers.ts
  src/lib/agent/loop.ts
  src/lib/agent/prompts.ts
  src/lib/agent/types.ts
  src/lib/i18n/en.ts
  src/lib/i18n/index.ts
  src/lib/i18n/ja.ts
  src/lib/i18n/zh.ts
  src/popup/components/SettingsView.tsx
  src/popup/components/SummaryView.tsx
  src/popup/components/settings/AgentConfig.tsx
  src/popup/components/settings/GeneralConfig.tsx
  src/popup/components/settings/ModelConfig.tsx
  src/popup/components/settings/SearchConfig.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write

chore(release): 0.1.3
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

chore(release): 0.1.3 (#33)
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

feat(lib): add memory infrastructure module
  manifest.json
  package.json
  src/lib/memory/chunker.ts
  src/lib/memory/embedding-client.ts
  src/lib/memory/index.ts
  src/lib/memory/storage.ts
  src/lib/memory/types.ts
  src/lib/memory/vector-store.ts
  src/offscreen/embedding.ts
  src/offscreen/offscreen.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix(background): add embedding message routing
  src/background/index.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat(lib): implement embedding service with local onnx runtime wasm
  .gitignore
  .kiro/settings/lsp.json
  .kiro/specs/memory-infrastructure/design.md
  .kiro/specs/memory-infrastructure/requirements.md
  .kiro/specs/memory-infrastructure/tasks.md
  .kiro/steering/tech.md
  manifest.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/background/index.ts
  src/lib/screenshot.ts
  src/offscreen/embedding.ts
  src/offscreen/offscreen.ts
  src/sandbox/sandbox.html
  src/sandbox/sandbox.ts
  vite.config.ts
Due: eslint --fix, prettier --write
