Repository PeterFile/KnowledgeLens: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(repo): add standard-version and set initial version to 0.0.1
  .versionrc
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.0.1
  CHANGELOG.md
Due: none

chore(repo): release v0.0.1 (#2)
  .versionrc
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: prettier --write

chore(repo): add markdown rendering dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(repo): enable tailwind typography plugin
  tailwind.config.js
Due: prettier --write

feat(content): add draggable floating panel component
  src/content/FloatingPanel.tsx
Due: eslint --fix, prettier --write

refactor(content): replace sidebar with floating panel
  src/content/Sidebar.tsx
  src/content/index.tsx
Due: eslint --fix, prettier --write

feat(content): improve floating panel ux and markdown styling
  src/content/FloatingPanel.tsx
  src/content/content.css
Due: eslint --fix, prettier --write

style(content): modernize floating panel design and fix resize
  src/content/FloatingPanel.tsx
  src/content/content.css
Due: eslint --fix, prettier --write

feat(content): replace sidebar with draggable floating panel and markdown support (#3)
  package-lock.json
  package.json
  src/content/FloatingPanel.tsx
  src/content/Sidebar.tsx
  src/content/content.css
  src/content/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

chore(repo): add cross-platform release:tag script
  package.json
  scripts/tag-release.js
Due: prettier --write

chore(release): 0.1.0
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --write

chore(repo): release v0.1.0 (#4)
  CHANGELOG.md
  manifest.json
  package.json
  scripts/tag-release.js
Due: prettier --write

fix(repo): rename tag-release.js to .cjs for esm compatibility
  package.json
  scripts/tag-release.cjs
Due: prettier --write

fix(repo): rename tag-release.js to .cjs for esm compatibility (#5)
  package.json
  scripts/tag-release.cjs
Due: prettier --write

feat(lib): add token tracker for budget estimation and tracking
  src/lib/agent/index.ts
  src/lib/agent/tokens.ts
  tests/lib/agent/tokens.test.ts
Due: eslint --fix, prettier --write

test(lib): add property test for token budget enforcement
  tests/lib/agent/tokens.test.ts
Due: eslint --fix, prettier --write

feat(lib): implement token tracker for agent architecture (#6)
  src/lib/agent/index.ts
  src/lib/agent/tokens.ts
  tests/lib/agent/tokens.test.ts
Due: eslint --fix, prettier --write

feat(lib): add prompt template system for agent architecture
  src/lib/agent/index.ts
  src/lib/agent/prompts.ts
  tests/lib/agent/prompts.test.ts
Due: eslint --fix, prettier --write

test(lib): add property-based tests for prompt template round-trip
  tests/lib/agent/prompts.test.ts
Due: eslint --fix, prettier --write

feat(lib): implement prompt template system with round-trip serialization (#7)
  src/lib/agent/index.ts
  src/lib/agent/prompts.ts
  tests/lib/agent/prompts.test.ts
Due: eslint --fix, prettier --write

feat(lib): add tool manager with registry and validation
  src/lib/agent/index.ts
  src/lib/agent/tool-definitions.ts
  src/lib/agent/tools.ts
Due: eslint --fix, prettier --write

test(lib): add property-based tests for tool definition round-trip
  tests/lib/agent/tools.test.ts
Due: eslint --fix, prettier --write

test(lib): add property test for tool validation
  tests/lib/agent/tools.test.ts
Due: eslint --fix, prettier --write

feat(lib): implement tool manager with validation and property tests (#8)
  src/lib/agent/index.ts
  src/lib/agent/tool-definitions.ts
  src/lib/agent/tools.ts
  tests/lib/agent/tools.test.ts
Due: eslint --fix, prettier --write

feat(lib): add agent state manager for service worker persistence
  src/lib/agent/index.ts
  src/lib/agent/state.ts
  tests/lib/agent/state.test.ts
Due: eslint --fix, prettier --write

feat(lib): add agent state manager for service worker persistence (#9)
  src/lib/agent/index.ts
  src/lib/agent/state.ts
  tests/lib/agent/state.test.ts
Due: eslint --fix, prettier --write

feat(lib): add context manager for agent architecture
  src/lib/agent/context.ts
  src/lib/agent/index.ts
  tests/lib/agent/context.test.ts
Due: eslint --fix, prettier --write

test(lib): add property test for context compaction
  tests/lib/agent/context.test.ts
Due: eslint --fix, prettier --write

test(lib): add property test for grounding preservation
  tests/lib/agent/context.test.ts
Due: eslint --fix, prettier --write

feat(lib): add context manager with compaction and grounding preservation (#10)
  src/lib/agent/context.ts
  src/lib/agent/index.ts
  tests/lib/agent/context.test.ts
Due: eslint --fix, prettier --write

feat(lib): add reflection manager for agent self-correction
  src/lib/agent/index.ts
  src/lib/agent/reflection.ts
  tests/lib/agent/reflection.test.ts
Due: eslint --fix, prettier --write

fix(lib): improve reflection matching and parsing robustness
  src/lib/agent/reflection.ts
  tests/lib/agent/reflection.test.ts
Due: eslint --fix, prettier --write

test(lib): add property-based tests for reflection storage
  tests/lib/agent/reflection.test.ts
Due: eslint --fix, prettier --write

test(lib): add property-based tests for reflection storage (#11)
  src/lib/agent/index.ts
  src/lib/agent/reflection.ts
  tests/lib/agent/reflection.test.ts
Due: eslint --fix, prettier --write

feat(lib): add agentic rag module with search grading and query rewriting
  src/lib/agent/index.ts
  src/lib/agent/rag.ts
Due: eslint --fix, prettier --write

test(lib): add property test for search result grading
  src/lib/agent/rag.ts
  tests/lib/agent/rag.test.ts
Due: eslint --fix, prettier --write

test(lib): add property test for query rewriting on low relevance
  tests/lib/agent/rag.test.ts
Due: eslint --fix, prettier --write

test(lib): add property tests for citation integrity
  tests/lib/agent/rag.test.ts
Due: eslint --fix, prettier --write

test(lib): add property test for search fallback behavior
  tests/lib/agent/rag.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css})
